<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-5">
    <h1>View Produtos</h1>
        <div class="table">
            <table border="1" class="table table-striped table-sm">
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
            <% for(p of produtos) { %>
                <tr>
                    <td><%= p.codigo %></td>
                    <td><%= p.desc   %></td>
                    <td><%= p.preco  %></td>
                </tr>
            <% } %>
            </table>
        </div>
    </div>
</div>
</body>
</html>